@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

#page{
    background-color: #F1F7ED;
    min-height:100vh;
    display: flex;
    flex-direction: column;

    
}

#navtitle{
    color:white
}
.card{
    transition: .5s;
    width: 18rem;
    padding: 5px;
}

.fcard{
    transition: .5s;
    width: 35rem;
    padding: 5px;;
}

.cardbody{
    
    background: linear-gradient(#CDDDDD,#ACBDBA);
    
}

.card:hover{
    top:-10px;
    transform: scale(1.05);
}

#nav{
    background-color: #114B5F;
    border-radius: 5px;
    height:100px;
    margin: 0;
    width:auto
}

.li{
   padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: white ;
  
}

.feedbackcard{
    width: 30rem;
    background-color:red;
  
}

.title{
    text-decoration: none;
    
}
#profile{
    border-radius: 50%;
    height:300px;
    padding: 5px
}

/* .h{
    height: 100vh;
} */

.box{
    height:100vh
}

.p{
    text-decoration: none;
}

#delete{
    background-color: #FE4A49;
    width:50%
}

#edit{
    background-color: #114B5F;
    color:white;
    width:50%
    
}

#submit{
    background-color:#114B5F; 
    color:white
}

#close{
    background-color: #FE4A49;;
}
#dropdown{
    background-color: #523249;
}

#box{
    height:15vh;
    background-color:yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.test{
    background-color:#FE4A49;
    color: #FE4A49;
}

