
/* #submit{
    background-color: yellow;
} */
#page{
    background-color: #F1F7ED;
    height: 100vh;
}

.moviecard{
    transition: .5s
}
.moviecard:hover{
    top:-10px;
    transform: scale(1.1);
}


.li{
   padding: 1rem;
    font-size: 20px;
    text-decoration: none;
  
}